<style>
  .form-control-feedback:first-letter {
    text-transform: capitalize;
  }
</style>

<h2>Sign up</h2>
<form method="post">

  <div class="form-group {{#if error_username}}has-danger{{/if}}">
    <label for="username">Username</label>
    <input type="text" name="username" value="{{username}}" class="form-control" id="username" aria-describedby="emailHelp">
    <div class="form-control-feedback">{{error_username}}</div>
  </div>

  <div class="form-group {{#if error_password}}has-danger{{/if}}">
    <label for="password">Password</label>
    <input type="password" name="password" value="" class="form-control" id="password" aria-describedby="passwordHelp">
    <div class="form-control-feedback">{{error_password}}</div>
  </div>

  <div class="form-group {{#if error_verify}}has-danger{{/if}}">
    <label for="verify">Verify Password</label>
    <input type="password" name="verify" value="" class="form-control" id="verify" aria-describedby="verifyPasswordHelp">
    <div class="form-control-feedback">{{error_verify}}</div>
  </div>

  <div class="form-group {{#if error_email}}has-danger{{/if}}">
    <label for="email">Email (optional)</label>
    <input type="text" name="email" value="{{email}}" class="form-control" id="email" aria-describedby="Email">
    <div class="form-control-feedback">{{error_email}}</div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
